{{define "title"}}mostly programmings / Page not found{{end}}

{{define "main"}}
    <section class="page-heading">
        <h1>Page not found</h1>
        <p>The page you requested doesn't exist.</p>
        <a href="{{homeURL}}" up-follow>Return home</a>
    </section>
{{end}}