{{define "title"}}mostly programmings / Internal Server Error{{end}}

{{define "main"}}
    <section class="page-heading">
        <h1>Internal Server Error</h1>
        <p>
            An unexpected error occured. If you are a web admin see the server
            logs for more details. If you are a user and believe this is an
            error
            <a href="https://github.com/zanyoats/cconroy.com/issues">submit an issue</a>
            to its github repo. You can return home <a href="{{homeURL}}" up-follow>here</a>.
        </p>
    </section>
{{end}}